@using Rental.UI.Utility
@{
    var title = Html.GetLanguageByKey("IndexRoomName");
    ViewBag.Title = Html.GetLanguageByKey("RoomPrivew");
    Layout = "~/Views/Shared/_LayoutPhonePage.cshtml";
}
@section breadUrl{
   <a class="tracks active" href="@Url.Action("Index","Home")">@Html.GetLanguageByKey("IndexPageName")</a>
    <a class="tracks active" href="javascript:void(0)">台湾</a>
    <a class="tracks show" href="@Url.Action("Room")">@Html.GetLanguageByKey("RoomPrivew")</a><span class="tracks">房间</span>
}
<div class="hotel-details">
    <div class="comtemplate">
        <div class="comtemplate-panel" data-id="142">
            <a href="@Url.Action("RoomList", new { id=1})" class="">
                <img class="comtemplate-panel-img imgauto"
                     src="http://www.hilton.com.cn/file/images/20150419/20150419174259728PGuBwtc.jpg"
                     data-small-src="http://www.hilton.com.cn/file/images/20150419/20150419174259728PGuBwtc_thum_mid.jpg"
                     data-big-src="http://www.hilton.com.cn/file/images/20150419/20150419174259728PGuBwtc.jpg"
                     data-ratio="0.618" alt="">
                <h2 class="comtemplate-panel-cap">台北市</h2>
            </a>
            <p class="comtemplate-panel-intro">台北市</p>
        </div><div class="comtemplate-panel" data-id="143">
            <a href="@Url.Action("RoomList", new { id=2})" class="">
                <img class="comtemplate-panel-img imgauto"
                     src="http://www.hilton.com.cn/file/images/20150419/20150419174259579u2xTNDV.jpg"
                     data-small-src="http://www.hilton.com.cn/file/images/20150419/20150419174259579u2xTNDV_thum_mid.jpg"
                     data-big-src="http://www.hilton.com.cn/file/images/20150419/20150419174259579u2xTNDV.jpg"
                     data-ratio="0.618" alt="">
                <h2 class="comtemplate-panel-cap">新北市</h2>
            </a>
            <p class="comtemplate-panel-intro">新北市</p>
        </div><div class="comtemplate-panel" data-id="144">
            <a href="@Url.Action("RoomList", new { id=7})" class="">
                <img class="comtemplate-panel-img imgauto"
                     src="http://www.hilton.com.cn/file/images/20150419/20150419174258917cWUUYUR.jpg"
                     data-small-src="http://www.hilton.com.cn/file/images/20150419/20150419174258917cWUUYUR_thum_mid.jpg"
                     data-big-src="http://www.hilton.com.cn/file/images/20150419/20150419174258917cWUUYUR.jpg"
                     data-ratio="0.618" alt="">
                <h2 class="comtemplate-panel-cap">台中市</h2>
            </a>
            <p class="comtemplate-panel-intro">台中市</p>
        </div><div class="comtemplate-panel" data-id="1427">
            <a href="@Url.Action("RoomList", new { id=8})" class="">
                <img class="comtemplate-panel-img imgauto"
                     src="http://www.hilton.com.cn/file/images/20150419/20150419174259579u2xTNDV.jpg"
                     data-small-src="http://www.hilton.com.cn/file/images/20150419/20150419174259579u2xTNDV_thum_mid.jpg"
                     data-big-src="http://www.hilton.com.cn/file/images/20150419/20150419174259579u2xTNDV.jpg"
                     data-ratio="0.618" alt="">
                <h2 class="comtemplate-panel-cap">台南市</h2>
            </a>
            <p class="comtemplate-panel-intro">台南市</p>
        </div><div class="comtemplate-panel" data-id="1428">
            <a href="@Url.Action("RoomList", new { id=9})" class="">
                <img class="comtemplate-panel-img imgauto"
                     src="http://www.hilton.com.cn/file/images/20150419/20150419174258917cWUUYUR.jpg"
                     data-small-src="http://www.hilton.com.cn/file/images/20150419/20150419174258917cWUUYUR_thum_mid.jpg"
                     data-big-src="http://www.hilton.com.cn/file/images/20150419/20150419174258917cWUUYUR.jpg"
                     data-ratio="0.618" alt="">
                <h2 class="comtemplate-panel-cap">高雄市</h2>
            </a>
            <p class="comtemplate-panel-intro">高雄市</p>
        </div>
    </div>
</div>
@section scripts{
    <script>
        if (/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))) {
            if (window.location.href.indexOf("?mobile") < 0) {
                try {
                    if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                        window.location.href = "http://shipei.qq.com/index.htm";
                    } else if (/iPad/i.test(navigator.userAgent)) {
                    } else {
                    }
                } catch (e) { }
            }
        }


        $(function () {
            $('.index-li a').removeClass('active');
            $('.introduce-li a').removeClass('active');
            $('.arrive-li a').removeClass('active');
            $('.yh-li a').removeClass('active');
            $('.food-li a').removeClass('active');
            $('.service-li a').removeClass('active');
            $('.room-li a').addClass('active');
        });
    </script>
}
