@using Rental.UI.Utility
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name="Keywords" content="香港酒店，五星级酒店，豪华酒店，太古广场，商务旅游，中环酒店，湾仔酒店，金钟酒店，铜锣湾酒店，香港会议展览中心，香港优惠房价，香港宴会会议，香港结婚场地，香港住宿，香港酒店预订，网上预订房间，Conrad Hong Kong, Conrad HK">
    <meta name="description" content="香港港丽酒店耸立於本港最著名的高尚购物娱乐中心太古广场之上，楼高61层，是位处本港商业枢纽的豪华酒店。拥有467间豪华客房及45间尊贵套房的香港港丽酒店，屡获国际殊荣，为商务及旅游人士提供环境舒适、设施完善及服务殷勤的最佳酒店选择。">

    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/front/css/idangerous.swiper.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/front/css/style.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/front/js/datepicker/jquery-ui.min.css")">
    <title>香港港丽酒店</title>
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <script src="/js/respond.min.js"></script>
    <![endif]-->
    <script src="@Url.Content("~/Content/front/js/prefixfree.min.js")"></script>
    <script src="@Url.Content("~/Content/front/js/jquery-1.11.2.min.js")"></script>
    <script src="@Url.Content("~/Content/front/js/common-func.js")"></script>
    <script src="@Url.Content("~/Content/front/js/qrcode.js")"></script>
    <script src="@Url.Content("~/Content/front/js/datepicker/jquery-ui.min.js")"></script>

    @*<script type="text/javascript">
            var digitalData = digitalData || {};
            digitalData = {
                event: [{ eventInfo: { eventAction: "roomView" } }],
                product: [{ productInfo: { productID: "HKGHCCI" } }],
                page: {
                    pageInfo: {
                        language: "zh-CN",
                        pageName: "ConradChina:zh-CN:hotel:HongKong:conrad-hongkong-hkghcci:index"
                    },
                    category: {
                        brand: "CI",
                        primaryCategory: "zh-CN",
                        siteName: "ConradChina",
                        subSection: "zh-CN:hotel",
                        subSubSection: "zh-CN:hotel:HongKong:conrad-hongkong-hkghcci:index",
                        siteType: "C"
                    },
                    attributes: {
                        contentTypes: "images,text",
                        siteExperience: "D"
                    }
                }
            };
        </script>
        <script src="//assets.adobedtm.com/1a8b82639e97b4c8938c46c6ad045392048d00e5/satelliteLib-5f15f2949f2a761b35db03f2b389a11d61654c4e.js"></script>*@

    <!--framehead.html-->

    <script src="@Url.Content("~/Content/front/js/idangerous.swiper-2.0.min.js")"></script>
    <script src="@Url.Content("~/Content/front/js/page.common.js")"></script>
    
</head>
<body>
    <div class="header fix">
        <div class="hd-wrap fix">
            <!-- frame top begin -->
            <!-- top bar logos begin -->
            <!-- top bar logos end -->
            <div class="hd-wrap-logo"><a href="http://www.conrad.com.cn/">conrad</a> </div>
            <!--frametopbar.html-->
            <!-- frame top end -->
            <!-- page top begin -->
            <div class="hd-mb-hotline">
                <!-- 微信 begin -->
                <div class="mb-code-layer">
                    <a class="cs" href="javascript:void(0);">×</a>
                    <div class="code">
                        <img src="http://www.hilton.com.cn/file/images/20150506/20150506185602725bfOEHAt.jpg" alt="" style="width: 100%; height: 100%">
                    </div>
                    <p>香港港丽酒店</p>
                </div>
                <!-- 微信 end -->
                <span class="hd-mb-hotline-w">
                    <a class="hd-mb-hotline-pro" href="javascript:void(0);">
                        <img src="~/Content/logo_best_rates_sm.png" />
                    </a>
                    <a class="hd-mb-hotline-tel pc" href="javascript:void(0);"></a>
                    <a class="hd-mb-hotline-tel mobile" href="javascript:void(0);">免费订房热线</a>
                </span>
                <span class="hd-mb-lang pc"><a href="@Url.Content("~/zh-CN/Home/Index")">简体</a> <a href="@Url.Content("~/zh-TW/Home/Index")" >繁体</a> <a href="@Url.Content("~/en-US/Home/Index")" >EN</a></span>
                <span class="hd-mb-xin pc"><a href="javascript:void(0);">weixin</a></span>
            </div>

            <div class="hd-mb-title ht-title">
                <h1 class="t" data-id="13">香港港丽酒店</h1>
                <div class="ht-head-commu fix">
                    <span class="addr">香港金钟道88号太古广场</span>
                    <span class="tel tel-pc">00852-2521 3838</span>
                    <a class="tel" href="tel:00852-2521 3838">00852-2521 3838</a>
                    <a class="email" href="mailto:hongkonginfo@conradhotels.com">邮箱</a>
                    <a class="email email-pc" href="mailto:hongkonginfo@conradhotels.com">hongkonginfo@conradhotels.com</a>
                    <a class="hotelwechat hotelwechat-pc" href="javascript:void(0);"></a>
                    <div class="w-fr">
                        <span class="price" id="title_price">CNY 535 <i>起</i></span>
                        <a id="bookingUrl1" class="booking" href="https://secure3.hilton.com/zh_CN/ch/reservation/book.htm?ctyhocn=HKGHCCI" target="_blank">立即预订</a>
                        <input type="hidden" id="hotelCode_Hidden" value="HKGHCCI" />
                    </div>
                </div>
            </div>
            <div class="hd-mb-track">
                @RenderSection("breadUrl",true)
                
                <div class="hd-mb-sorts">

                    <span class="mb-code"><em class="cd"></em>扫一扫</span>
                    <!-- 手机二维码 begin -->
                    <div class="mb-code-layer">
                        <a class="cs" href="javascript:void(0);">×</a>
                        <div class="code" id="urlQrCode"></div>
                        <p>扫一扫</p>
                    </div>
                    <!-- 手机二维码 end -->
                </div>
            </div>
            <!--hoteltitlebar.html-->
            <!-- page top end -->
        </div>
    </div>
    <!-- page body begin -->
    <div class="mainbody hotelbody fix">
        @RenderBody()
        <div class="mainbody-sub">
            <ul class="hotel-nav">
                <li class="hotel-nav-item index-li"><a class="hotel-nav-links l1  active" href="@Url.Action("Index","Home")">@Html.GetLanguageByKey("HomePage")</a></li>
                <li class="hotel-nav-item introduce-li"><a class="hotel-nav-links l2 " href="about.html">@Html.GetLanguageByKey("HotelProfile")</a></li>
                <li class="hotel-nav-item arrive-li"><a class="hotel-nav-links l3 " href="javascript:void(0);">@Html.GetLanguageByKey("Guidance")</a></li>
                <li class="hotel-nav-item yh-li"><a class="hotel-nav-links l4 " href="@Url.Action("Preference","Home")">@Html.GetLanguageByKey("PreferenceSelection")</a></li>
                <li class="hotel-nav-item room-li"><a class="hotel-nav-links l5 " href="@Url.Action("Room","Home")">@Html.GetLanguageByKey("RoomPrivew")</a></li>
                <li class="hotel-nav-item food-li"><a class="hotel-nav-links l6 " href="@Url.Action("Food","Home")">@Html.GetLanguageByKey("Food")</a></li>
                <li class="hotel-nav-item service-li"><a class="hotel-nav-links l7 " href="@Url.Action("Service","Home")">@Html.GetLanguageByKey("Service")</a></li>
            </ul>
        </div>
        <!--hotelleftmenu.html-->
    </div>
    <!-- page body end -->
    <!-- frame footer begin-->
    <div class="subscribe">
        <div class="ht-head-commu fix">
            <span class="addr">香港金钟道88号太古广场</span>
            <span class="tel tel-pc">00852-2521 3838</span>
            <a class="tel" href="tel:00852-2521 3838">00852-2521 3838</a>
            <a class="email" href="mailto:hongkonginfo@conradhotels.com">邮箱</a>
            <a class="email email-pc" href="mailto:hongkonginfo@conradhotels.com">hongkonginfo@conradhotels.com</a>
            <a class="hotelqq" href="javascript:void(0);"></a>
        </div>
    </div>

    <!-- footer others brands links begin -->
    <div class="global">
        <ul>
            <li><a href="http://www1.hilton.com/en_US/hi/index.do" target="_blank">全球网站(Global Site)</a><span>|</span></li>
            <li><a href="http://www.hilton.com.cn/" target="_blank">希尔顿中国网站</a><span>|</span></li>
            <li><a href="http://www.waldorfastoriahotels.com.cn" target="_blank">华尔道夫中国网站</a><span>|</span></li>
            <li><a href="http://www.conrad.com.cn/" target="_blank">康莱德中国网站</a><span>|</span></li>
            <li><a href="http://www.doubletree.com.cn/" target="_blank">希尔顿逸林中国网站</a><span>|</span></li>
            <li><a href="http://gardeninn.hilton.com.cn/" target="_blank">希尔顿花园酒店中国网站</a><span>|</span></li>
            <li><a href="http://hhonors.hilton.com.cn/portfolio.html" target="_blank">关于我们</a></li>
            <br>
            <li><a href="http://hhonors3.hilton.com/en/promotions/privacy-policy/chinese.html" target="_blank">全球隐私权声明（2015 年 5 月更新）</a><span>|</span></li>
            <li><a href="http://hhonors3.hilton.com/en/policy/cookies-statement/chinese-simplified.html" target="_blank">Cookie 技术声明（2015 年 5 月更新）</a><span>|</span></li>
            <li><a href="http://hhonors3.hilton.com/zh_CN/policy/site-usage-agreement/english.html" target="_blank">网站使用协议</a><span>|</span></li>
            <li><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备09095413 Hilton Worldwide</a></li>
        </ul>
    </div>
    <!-- footer others brands links end -->
    <!-- frame footer end-->
    <script type="text/javascript">
        //_satellite.pageBottom();
    </script>
</body>
</html>
@RenderSection("scripts", required: false)
<script>
    $(function () {
        var pageUrl = window.location.href;
        if (pageUrl.toLowerCase().indexOf("en-us")>0) {
            $('.hd-mb-lang a:eq(2)').addClass('on').siblings().removeClass("on");
        } else if (pageUrl.toLowerCase().indexOf("zh-tw")>0) {
            $('.hd-mb-lang a:eq(1)').addClass('on').siblings().removeClass("on");
        } else {
            $('.hd-mb-lang a:eq(0)').addClass('on').siblings().removeClass("on");
        }
    });
</script>